## Classification with LogisticRegression

LogisticRegression is a classifier part of linear model package. It is used for classifying the dataset with a binary class.

In [2]:
# Import the required libraries
import pandas as pd
from sklearn.preprocessing import Imputer
from sklearn.linear_model import LogisticRegression


# Reading data from the csv
titanic_ds = pd.read_csv("../datasets/titanic_train.csv")

titanic_ds.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [35]:
# Getting the predictors
titanic_ds.columns
predictors = ['PassengerId', 'Pclass', 'Sex', 'Age', 'SibSp', 'Embarked']

X = titanic_ds[predictors]
y = titanic_ds.Survived

# Converting categorical values to int
X['Sex'] = X['Sex'].astype('category')
X['Embarked'] = X['Embarked'].astype('category')

category_cols = X.select_dtypes(['category']).columns
category_cols

D:\space\kepler\programs\Continuum\Anaconda3\lib\site-packages\ipykernel\__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
D:\space\kepler\programs\Continuum\Anaconda3\lib\site-packages\ipykernel\__main__.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Index(['Sex', 'Embarked'], dtype='object')

In [36]:
X[category_cols] = X[category_cols].apply(lambda x: x.cat.codes)
X

D:\space\kepler\programs\Continuum\Anaconda3\lib\site-packages\pandas\core\frame.py:2378: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

     PassengerId  Pclass  Sex   Age  SibSp  Embarked
0              1       3    1  22.0      1         2
1              2       1    0  38.0      1         0
2              3       3    0  26.0      0         2
3              4       1    0  35.0      1         2
4              5       3    1  35.0      0         2
5              6       3    1   NaN      0         1
6              7       1    1  54.0      0         2
7              8       3    1   2.0      3         2
8              9       3    0  27.0      0         2
9             10       2    0  14.0      1         0
10            11       3    0   4.0      1         2
11            12       1    0  58.0      0         2
12            13       3    1  20.0      0         2
13            14       3    1  39.0      1         2
14            15       3    0  14.0      0         2
15            16       2    0  55.0      0         2
16            17       3    1   2.0      4         1
17            18       2    1   NaN      0         2
18            19       3    0  31.0      1         2
19            20       3    0   NaN      0         0
20            21       2    1  35.0      0         2
21            22       2    1  34.0      0         2
22            23       3    0  15.0      0         1
23            24       1    1  28.0      0         2
24            25       3    0   8.0      3         2
25            26       3    0  38.0      1         2
26            27       3    1   NaN      0         0
27            28       1    1  19.0      3         2
28            29       3    0   NaN      0         1
29            30       3    1   NaN      0         2
..           ...     ...  ...   ...    ...       ...
861          862       2    1  21.0      1         2
862          863       1    0  48.0      0         2
863          864       3    0   NaN      8         2
864          865       2    1  24.0      0         2
865          866       2    0  42.0      0         2
866          867       2    0  27.0      1         0
867          868       1    1  31.0      0         2
868          869       3    1   NaN      0         2
869          870       3    1   4.0      1         2
870          871       3    1  26.0      0         2
871          872       1    0  47.0      1         2
872          873       1    1  33.0      0         2
873          874       3    1  47.0      0         2
874          875       2    0  28.0      1         0
875          876       3    0  15.0      0         0
876          877       3    1  20.0      0         2
877          878       3    1  19.0      0         2
878          879       3    1   NaN      0         2
879          880       1    0  56.0      0         0
880          881       2    0  25.0      0         2
881          882       3    1  33.0      0         2
882          883       3    0  22.0      0         2
883          884       2    1  28.0      0         2
884          885       3    1  25.0      0         2
885          886       3    0  39.0      0         1
886          887       2    1  27.0      0         2
887          888       1    0  19.0      0         2
888          889       3    0   NaN      1         2
889          890       1    1  26.0      0         0
890          891       3    1  32.0      0         1

[891 rows x 6 columns]

In [37]:
# Function to impute the age values
def impute_age(cols):
    pclass = cols[0]
    age = cols[1]
    
    if pd.isnull(age):
        if pclass == 1:
            return 50
        elif pclass == 2:
            return 35
        else:
            return 20
    else:
        return age
    
X[['Pclass', 'Age']]

     Pclass   Age
0         3  22.0
1         1  38.0
2         3  26.0
3         1  35.0
4         3  35.0
5         3   NaN
6         1  54.0
7         3   2.0
8         3  27.0
9         2  14.0
10        3   4.0
11        1  58.0
12        3  20.0
13        3  39.0
14        3  14.0
15        2  55.0
16        3   2.0
17        2   NaN
18        3  31.0
19        3   NaN
20        2  35.0
21        2  34.0
22        3  15.0
23        1  28.0
24        3   8.0
25        3  38.0
26        3   NaN
27        1  19.0
28        3   NaN
29        3   NaN
..      ...   ...
861       2  21.0
862       1  48.0
863       3   NaN
864       2  24.0
865       2  42.0
866       2  27.0
867       1  31.0
868       3   NaN
869       3   4.0
870       3  26.0
871       1  47.0
872       1  33.0
873       3  47.0
874       2  28.0
875       3  15.0
876       3  20.0
877       3  19.0
878       3   NaN
879       1  56.0
880       2  25.0
881       3  33.0
882       3  22.0
883       2  28.0
884       3  25.0
885       3  39.0
886       2  27.0
887       1  19.0
888       3   NaN
889       1  26.0
890       3  32.0

[891 rows x 2 columns]

In [38]:
X['Age'] = X[['Pclass', 'Age']].apply(impute_age, axis=1)

X

D:\space\kepler\programs\Continuum\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

     PassengerId  Pclass  Sex   Age  SibSp  Embarked
0              1       3    1  22.0      1         2
1              2       1    0  38.0      1         0
2              3       3    0  26.0      0         2
3              4       1    0  35.0      1         2
4              5       3    1  35.0      0         2
5              6       3    1  20.0      0         1
6              7       1    1  54.0      0         2
7              8       3    1   2.0      3         2
8              9       3    0  27.0      0         2
9             10       2    0  14.0      1         0
10            11       3    0   4.0      1         2
11            12       1    0  58.0      0         2
12            13       3    1  20.0      0         2
13            14       3    1  39.0      1         2
14            15       3    0  14.0      0         2
15            16       2    0  55.0      0         2
16            17       3    1   2.0      4         1
17            18       2    1  35.0      0         2
18            19       3    0  31.0      1         2
19            20       3    0  20.0      0         0
20            21       2    1  35.0      0         2
21            22       2    1  34.0      0         2
22            23       3    0  15.0      0         1
23            24       1    1  28.0      0         2
24            25       3    0   8.0      3         2
25            26       3    0  38.0      1         2
26            27       3    1  20.0      0         0
27            28       1    1  19.0      3         2
28            29       3    0  20.0      0         1
29            30       3    1  20.0      0         2
..           ...     ...  ...   ...    ...       ...
861          862       2    1  21.0      1         2
862          863       1    0  48.0      0         2
863          864       3    0  20.0      8         2
864          865       2    1  24.0      0         2
865          866       2    0  42.0      0         2
866          867       2    0  27.0      1         0
867          868       1    1  31.0      0         2
868          869       3    1  20.0      0         2
869          870       3    1   4.0      1         2
870          871       3    1  26.0      0         2
871          872       1    0  47.0      1         2
872          873       1    1  33.0      0         2
873          874       3    1  47.0      0         2
874          875       2    0  28.0      1         0
875          876       3    0  15.0      0         0
876          877       3    1  20.0      0         2
877          878       3    1  19.0      0         2
878          879       3    1  20.0      0         2
879          880       1    0  56.0      0         0
880          881       2    0  25.0      0         2
881          882       3    1  33.0      0         2
882          883       3    0  22.0      0         2
883          884       2    1  28.0      0         2
884          885       3    1  25.0      0         2
885          886       3    0  39.0      0         1
886          887       2    1  27.0      0         2
887          888       1    0  19.0      0         2
888          889       3    0  20.0      1         2
889          890       1    1  26.0      0         0
890          891       3    1  32.0      0         1

[891 rows x 6 columns]